{% extends 'base.html' %}
    {% block body %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/utils.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}">

    <div class="about-container">
    </div>
    <div class="inside-container">

        <div class="image-aboutme">

        </div>
        <div class="aboutme">
            <h1>About Us..</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam ducimus a rem harum hic debitis reprehenderit, sed, similique ullam saepe deleniti dicta magni veritatis laborum. Deleniti modi minima assumenda! Nulla accusamus eius rerum quam assumenda molestiae, impedit expedita. Dicta harum voluptatem doloremque et id cum eligendi illo asperiores facere neque!
            </p>
            <button class="btn-abtme">Contact Us</button>
        </div>
    </div>
  {% endblock body %}