<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/utils.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/blogpost.css">
    <link rel="stylesheet" href="css/mobile.css">


    <title>FoodMarket</title>
</head>

<body>
    <nav class="navigation">
        <div class="nav-left">
            <span>LOGO</span>
            <ul>
                <li><a href="#">Home </a></li>
                <li><a href="#">About </a></li>
                <li><a href="#">Contact</a></li>

            </ul>




        </div>
        <div class="nav-right">
            <form action="/search.html" method="get">
                <input class="form-input" type="text" name="query" placeholder="FooDLOve">
                <btn class="btn">search</btn>
            </form>

        </div>

    </nav>
    <hr>
    <div class="blogpost-image">
        <img src="images/c1c1027e-864a-4462-9524-5bc1c8d316bb.jpg" alt="" class="src">
    </div>
    <div class="blog-post-content margin-width1 mar-auto my-1">
        <h1> Hey food lovers!</h1> 
        <div class="blogpost-handle">
            <div class="about-author">
                    <div>
                       <b> By: Bikramjit Das</b> 
                    </div>
                    <div>
                        12 Jan,2021 | 8 min read..
                    </div>
            </div>
            <div class="social-handles">


            </div>
            
        </div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel cupiditate asperiores, itaque consectetur ut
            ullam necessitatibus neque nam maiores, repudiandae pariatur placeat molestias omnis aliquam minus!
            Recusandae officiis laudantium voluptatem corrupti aut?

        </p>

    </div>


    </div>
    <div class="margin-width1 mar-auto">
        <hr>
    </div>
    <div class="mainsection mar-auto margin-width1 font-1">
        <h2>Wait! Check out these too!</h2>
        <div class="row">
            <div class="mainsection-articles letter">
                <div class="mainsection-articles-images">
                    <img src="images/IMG_20210227_134532.jpg" alt="" style="width: 235px;">
                </div>
                <div class="mainsection-articles-content center">
                    <a href="../page1.html">
                        <h3> How to Prepare Chicken</h3>
                    </a>
                    <span>Author:Bikramjit Das</span><br>
                    <span>Date:6 Jan 2020 </span>
                </div>
            </div>
            <div class="mainsection-articles letter">
                <div class="mainsection-articles-images">
                    <img src="images/IMG_20210227_134532.jpg" alt="" style="width: 235px;">
                </div>
                <div class="mainsection-articles-content center">
                    <a href="../page1.html">
                        <h3> How to Prepare Chicken</h3>
                    </a>
                    <span>Author:Bikramjit Das</span><br>
                    <span>Date:6 Jan 2020 </span>
                </div>
            </div>
        </div>


    </div>
    <div class="footer margin-width2 mar-auto my-1">

    
    </div>
</body>

</html>